{
	"_INFO_READ_THIS_": "IP คือเซิร์ฟที่จะเชื่อม | Port คือ พอร์ตของเซิร์ฟเวอร์ | Name คือ ชื่อของตัวละคร | AuthMe_PW คือ รหัสผ่านของ /login",
	"ip": "mc-zero.net",
	"port": 25565,
	"name": "FishingBOT",
	"authme_pw": "Test01384",
	"version": "1.8.9"
}
